
.new_crm_form {
    position: relative;
    align-items: center;
    background-color: #f1f1f1;
    width: 600px;
    border-radius: 5px;
    padding: 30px 20px;
    left: 25%;

}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    outline: none !important;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #cccccc;

}

.star-rating {
    direction: rtl;
    display: flex;
    justify-content: flex-start;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label.star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating input[type="radio"]:checked ~ label.star,
.star-rating label.star:hover,
.star-rating label.star:hover ~ label.star {
    color: #f39c12; /* Gold color */
}

